In [48]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [49]:
folder = 'NFL_data/'
games_df = pd.read_csv(f"{folder}games.csv")
player_play_df = pd.read_csv(f"{folder}player_play.csv")
plays_df = pd.read_csv(f"{folder}plays.csv")

# Players

In [50]:
players_df = pd.read_csv(f"{folder}players.csv")
print(players_df.columns.values)
players_df

['nflId' 'height' 'weight' 'birthDate' 'collegeName' 'position'
 'displayName']

,nflId,height,weight,birthDate,collegeName,position,displayName
0,25511,6-4,225,1977-08-03,Michigan,QB,Tom Brady
1,29550,6-4,328,1982-01-22,Arkansas,T,Jason Peters
2,29851,6-2,225,1983-12-02,California,QB,Aaron Rodgers
3,30842,6-6,267,1984-05-19,UCLA,TE,Marcedes Lewis
4,33084,6-4,217,1985-05-17,Boston College,QB,Matt Ryan
...,...,...,...,...,...,...,...
1692,55190,6-1,285,NaN,Maryland,DE,Sam Okuayinonu
1693,55200,6-6,266,NaN,Indiana,DT,Ryder Anderson
1694,55239,6-2,300,NaN,Pennsylvania,DT,Prince Emili
1695,55240,6-1,185,NaN,Buffalo,CB,Ja'Marcus Ingram
1696,55241,6-2,280,NaN,Coastal Carolina,DT,C.J. Brewer

In [51]:
def height_to_cm(height_str):
    feet, inches = height_str.split('-')
    return int(feet) * 30.48 + int(inches) * 2.54

players_df['heightMetirc'] = players_df['height'].apply(height_to_cm)
players_df

,nflId,height,weight,birthDate,collegeName,position,displayName,heightMetirc
0,25511,6-4,225,1977-08-03,Michigan,QB,Tom Brady,193.04
1,29550,6-4,328,1982-01-22,Arkansas,T,Jason Peters,193.04
2,29851,6-2,225,1983-12-02,California,QB,Aaron Rodgers,187.96
3,30842,6-6,267,1984-05-19,UCLA,TE,Marcedes Lewis,198.12
4,33084,6-4,217,1985-05-17,Boston College,QB,Matt Ryan,193.04
...,...,...,...,...,...,...,...,...
1692,55190,6-1,285,NaN,Maryland,DE,Sam Okuayinonu,185.42
1693,55200,6-6,266,NaN,Indiana,DT,Ryder Anderson,198.12
1694,55239,6-2,300,NaN,Pennsylvania,DT,Prince Emili,187.96
1695,55240,6-1,185,NaN,Buffalo,CB,Ja'Marcus Ingram,185.42
1696,55241,6-2,280,NaN,Coastal Carolina,DT,C.J. Brewer,187.96

In [52]:
def weight_to_kg(weight_lbs):
    return weight_lbs * 0.453592

players_df['weightMetric'] = players_df['weight'].apply(weight_to_kg)

In [53]:
players_df[players_df['birthDate'].isnull()]

,nflId,height,weight,birthDate,collegeName,position,displayName,heightMetirc,weightMetric
997,52272,6-0,170,NaN,Tusculum,CB,Dee Alford,182.88,77.110640
1015,52430,6-3,192,NaN,Louisiana State,WR,Justin Jefferson,190.50,87.089664
1041,52459,6-2,207,NaN,Alabama,CB,Trevon Diggs,187.96,93.893544
1046,52464,6-7,310,NaN,Alabama,NT,Raekwon Davis,200.66,140.613520
1106,52539,6-2,308,NaN,Louisiana State,NT,Rashard Lawrence,187.96,139.706336
...,...,...,...,...,...,...,...,...,...
1692,55190,6-1,285,NaN,Maryland,DE,Sam Okuayinonu,185.42,129.273720
1693,55200,6-6,266,NaN,Indiana,DT,Ryder Anderson,198.12,120.655472
1694,55239,6-2,300,NaN,Pennsylvania,DT,Prince Emili,187.96,136.077600
1695,55240,6-1,185,NaN,Buffalo,CB,Ja'Marcus Ingram,185.42,83.914520
1696,55241,6-2,280,NaN,Coastal Carolina,DT,C.J. Brewer,187.96,127.005760

In [54]:
# Using pandas' categorical codes
players_df['position_token'] = players_df['position'].astype('category').cat.codes
players_df.head()

,nflId,height,weight,birthDate,collegeName,position,displayName,heightMetirc,weightMetric,position_token
0,25511,6-4,225,1977-08-03,Michigan,QB,Tom Brady,193.04,102.058200,13
1,29550,6-4,328,1982-01-22,Arkansas,T,Jason Peters,193.04,148.778176,16
2,29851,6-2,225,1983-12-02,California,QB,Aaron Rodgers,187.96,102.058200,13
3,30842,6-6,267,1984-05-19,UCLA,TE,Marcedes Lewis,198.12,121.109064,17
4,33084,6-4,217,1985-05-17,Boston College,QB,Matt Ryan,193.04,98.429464,13

In [55]:
players_df.drop(columns=['collegeName', 'displayName', 'birthDate', 'weight', 'height', 'position'], inplace=True)
print(players_df.columns.values)

['nflId' 'heightMetirc' 'weightMetric' 'position_token']

# Plays

In [56]:
plays_df = pd.read_csv(f"{folder}plays.csv")
print(plays_df.columns.values)
plays_df.head()

['gameId' 'playId' 'playDescription' 'quarter' 'down' 'yardsToGo'
 'possessionTeam' 'defensiveTeam' 'yardlineSide' 'yardlineNumber'
 'gameClock' 'preSnapHomeScore' 'preSnapVisitorScore'
 'playNullifiedByPenalty' 'absoluteYardlineNumber'
 'preSnapHomeTeamWinProbability' 'preSnapVisitorTeamWinProbability'
 'expectedPoints' 'offenseFormation' 'receiverAlignment' 'playClockAtSnap'
 'passResult' 'passLength' 'targetX' 'targetY' 'playAction' 'dropbackType'
 'dropbackDistance' 'passLocationType' 'timeToThrow' 'timeInTackleBox'
 'timeToSack' 'passTippedAtLine' 'unblockedPressure' 'qbSpike' 'qbKneel'
 'qbSneak' 'rushLocationType' 'penaltyYards' 'prePenaltyYardsGained'
 'yardsGained' 'homeTeamWinProbabilityAdded'
 'visitorTeamWinProbilityAdded' 'expectedPointsAdded' 'isDropback'
 'pff_runConceptPrimary' 'pff_runConceptSecondary' 'pff_runPassOption'
 'pff_passCoverage' 'pff_manZone']

,gameId,playId,playDescription,quarter,down,yardsToGo,possessionTeam,defensiveTeam,yardlineSide,yardlineNumber,...,yardsGained,homeTeamWinProbabilityAdded,visitorTeamWinProbilityAdded,expectedPointsAdded,isDropback,pff_runConceptPrimary,pff_runConceptSecondary,pff_runPassOption,pff_passCoverage,pff_manZone
0,2022102302,2655,(1:54) (Shotgun) J.Burrow pass short middle to...,3,1,10,CIN,ATL,CIN,21,...,9,0.004634,-0.004634,0.702717,True,NaN,NaN,0,Cover-3,Zone
1,2022091809,3698,(2:13) (Shotgun) J.Burrow pass short right to ...,4,1,10,CIN,DAL,CIN,8,...,4,0.002847,-0.002847,-0.240509,True,NaN,NaN,0,Quarters,Zone
2,2022103004,3146,(2:00) (Shotgun) D.Mills pass short right to D...,4,3,12,HOU,TEN,HOU,20,...,6,0.000205,-0.000205,-0.218480,True,NaN,NaN,0,Quarters,Zone
3,2022110610,348,(9:28) (Shotgun) P.Mahomes pass short left to ...,1,2,10,KC,TEN,TEN,23,...,4,-0.001308,0.001308,-0.427749,True,NaN,NaN,0,Quarters,Zone
4,2022102700,2799,(2:16) (Shotgun) L.Jackson up the middle to TB...,3,2,8,BAL,TB,TB,27,...,-1,0.027141,-0.027141,-0.638912,False,MAN,READ OPTION,0,Cover-1,Man

In [57]:
plays_df = plays_df[['gameId', 
                    'playId', 
                    'quarter',
                    'down', 
                    'possessionTeam', 
                    'defensiveTeam', 
                    'gameClock', 
                    'preSnapHomeScore', 
                    'preSnapVisitorScore']]

print(plays_df.columns.values)
plays_df.head()

['gameId' 'playId' 'quarter' 'down' 'possessionTeam' 'defensiveTeam'
 'gameClock' 'preSnapHomeScore' 'preSnapVisitorScore']

,gameId,playId,quarter,down,possessionTeam,defensiveTeam,gameClock,preSnapHomeScore,preSnapVisitorScore
0,2022102302,2655,3,1,CIN,ATL,01:54,35,17
1,2022091809,3698,4,1,CIN,DAL,02:13,17,17
2,2022103004,3146,4,3,HOU,TEN,02:00,3,17
3,2022110610,348,1,2,KC,TEN,09:28,0,0
4,2022102700,2799,3,2,BAL,TB,02:16,10,10

# Tracking

In [58]:
tracking_df = pd.read_csv(f"{folder}tracking_week_1.csv")
print(tracking_df.columns.values)
tracking_df

['gameId' 'playId' 'nflId' 'displayName' 'frameId' 'frameType' 'time'
 'jerseyNumber' 'club' 'playDirection' 'x' 'y' 's' 'a' 'dis' 'o' 'dir'
 'event']

,gameId,playId,nflId,displayName,frameId,frameType,time,jerseyNumber,club,playDirection,x,y,s,a,dis,o,dir,event
0,2022091200,64,35459.0,Kareem Jackson,1,BEFORE_SNAP,2022-09-13 00:16:03.5,22.0,DEN,right,51.06,28.55,0.72,0.37,0.07,246.17,68.34,huddle_break_offense
1,2022091200,64,35459.0,Kareem Jackson,2,BEFORE_SNAP,2022-09-13 00:16:03.6,22.0,DEN,right,51.13,28.57,0.71,0.36,0.07,245.41,71.21,NaN
2,2022091200,64,35459.0,Kareem Jackson,3,BEFORE_SNAP,2022-09-13 00:16:03.7,22.0,DEN,right,51.20,28.59,0.69,0.23,0.07,244.45,69.90,NaN
3,2022091200,64,35459.0,Kareem Jackson,4,BEFORE_SNAP,2022-09-13 00:16:03.8,22.0,DEN,right,51.26,28.62,0.67,0.22,0.07,244.45,67.98,NaN
4,2022091200,64,35459.0,Kareem Jackson,5,BEFORE_SNAP,2022-09-13 00:16:03.9,22.0,DEN,right,51.32,28.65,0.65,0.34,0.07,245.74,62.83,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7104695,2022090800,3696,NaN,football,171,AFTER_SNAP,2022-09-09 03:07:37.7,NaN,football,left,1.70,0.62,14.42,5.36,1.47,NaN,NaN,pass_outcome_incomplete
7104696,2022090800,3696,NaN,football,172,AFTER_SNAP,2022-09-09 03:07:37.8,NaN,football,left,0.59,0.01,3.60,0.06,1.27,NaN,NaN,NaN
7104697,2022090800,3696,NaN,football,173,AFTER_SNAP,2022-09-09 03:07:37.9,NaN,football,left,0.23,-0.07,3.60,0.23,0.38,NaN,NaN,NaN
7104698,2022090800,3696,NaN,football,174,AFTER_SNAP,2022-09-09 03:07:38,NaN,football,left,-0.13,-0.17,3.63,0.06,0.37,NaN,NaN,NaN
7104699,2022090800,3696,NaN,football,175,AFTER_SNAP,2022-09-09 03:07:38.1,NaN,football,left,-0.48,-0.26,3.74,0.46,0.36,NaN,NaN,NaN

In [59]:
tracking_df['o_sin'] = np.sin(np.deg2rad(tracking_df['o']))
tracking_df['o_cos'] = np.cos(np.deg2rad(tracking_df['o']))
tracking_df['dir_sin'] = np.sin(np.deg2rad(tracking_df['dir']))
tracking_df['dir_cos'] = np.cos(np.deg2rad(tracking_df['dir']))

print(tracking_df.columns.values)
tracking_df

['gameId' 'playId' 'nflId' 'displayName' 'frameId' 'frameType' 'time'
 'jerseyNumber' 'club' 'playDirection' 'x' 'y' 's' 'a' 'dis' 'o' 'dir'
 'event' 'o_sin' 'o_cos' 'dir_sin' 'dir_cos']

,gameId,playId,nflId,displayName,frameId,frameType,time,jerseyNumber,club,playDirection,...,s,a,dis,o,dir,event,o_sin,o_cos,dir_sin,dir_cos
0,2022091200,64,35459.0,Kareem Jackson,1,BEFORE_SNAP,2022-09-13 00:16:03.5,22.0,DEN,right,...,0.72,0.37,0.07,246.17,68.34,huddle_break_offense,-0.914748,-0.404024,0.929390,0.369098
1,2022091200,64,35459.0,Kareem Jackson,2,BEFORE_SNAP,2022-09-13 00:16:03.6,22.0,DEN,right,...,0.71,0.36,0.07,245.41,71.21,NaN,-0.909309,-0.416122,0.946705,0.322100
2,2022091200,64,35459.0,Kareem Jackson,3,BEFORE_SNAP,2022-09-13 00:16:03.7,22.0,DEN,right,...,0.69,0.23,0.07,244.45,69.90,NaN,-0.902209,-0.431299,0.939094,0.343660
3,2022091200,64,35459.0,Kareem Jackson,4,BEFORE_SNAP,2022-09-13 00:16:03.8,22.0,DEN,right,...,0.67,0.22,0.07,244.45,67.98,NaN,-0.902209,-0.431299,0.927053,0.374930
4,2022091200,64,35459.0,Kareem Jackson,5,BEFORE_SNAP,2022-09-13 00:16:03.9,22.0,DEN,right,...,0.65,0.34,0.07,245.74,62.83,NaN,-0.911690,-0.410878,0.889656,0.456632
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7104695,2022090800,3696,NaN,football,171,AFTER_SNAP,2022-09-09 03:07:37.7,NaN,football,left,...,14.42,5.36,1.47,NaN,NaN,pass_outcome_incomplete,NaN,NaN,NaN,NaN
7104696,2022090800,3696,NaN,football,172,AFTER_SNAP,2022-09-09 03:07:37.8,NaN,football,left,...,3.60,0.06,1.27,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7104697,2022090800,3696,NaN,football,173,AFTER_SNAP,2022-09-09 03:07:37.9,NaN,football,left,...,3.60,0.23,0.38,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7104698,2022090800,3696,NaN,football,174,AFTER_SNAP,2022-09-09 03:07:38,NaN,football,left,...,3.63,0.06,0.37,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7104699,2022090800,3696,NaN,football,175,AFTER_SNAP,2022-09-09 03:07:38.1,NaN,football,left,...,3.74,0.46,0.36,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [60]:
tracking_df.drop(columns=['displayName', 'jerseyNumber', 'time', 'frameType', 'playDirection', 'o', 'dir', 'club'], inplace=True)

In [61]:
tracking_df.describe()

,gameId,playId,nflId,frameId,x,y,s,a,dis,o_sin,o_cos,dir_sin,dir_cos
count,7.104700e+06,7.104700e+06,6.795800e+06,7.104700e+06,7.104700e+06,7.104700e+06,7.104700e+06,7.104700e+06,7.104700e+06,6.796189e+06,6.796189e+06,6.796189e+06,6.796189e+06
mean,2.022091e+09,2.024279e+03,4.718625e+04,8.693164e+01,6.087936e+01,2.682726e+01,1.359180e+00,9.440965e-01,1.389657e-01,4.674530e-03,3.924415e-04,4.285768e-04,3.014415e-03
std,7.693544e+01,1.227634e+03,5.050182e+03,5.901554e+01,2.456882e+01,7.696377e+00,1.889584e+00,1.194888e+00,1.945765e-01,8.494558e-01,5.276391e-01,7.036468e-01,7.105435e-01
min,2.022091e+09,5.500000e+01,2.551100e+04,1.000000e+00,-5.060000e+00,-8.940000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00
25%,2.022091e+09,9.550000e+02,4.338400e+04,4.000000e+01,4.110000e+01,2.244000e+01,6.000000e-02,6.000000e-02,1.000000e-02,-9.401098e-01,-3.384095e-01,-6.995386e-01,-7.121486e-01
50%,2.022091e+09,1.995000e+03,4.621400e+04,8.100000e+01,6.114000e+01,2.682000e+01,5.600000e-01,5.300000e-01,6.000000e-02,2.338528e-02,6.123234e-17,3.141587e-03,5.934085e-03
75%,2.022091e+09,3.043000e+03,5.249800e+04,1.260000e+02,8.026000e+01,3.119000e+01,1.960000e+00,1.350000e+00,2.000000e-01,9.418817e-01,3.384095e-01,6.994139e-01,7.171539e-01
max,2.022091e+09,5.120000e+03,5.517300e+04,6.970000e+02,1.256000e+02,6.947000e+01,2.914000e+01,5.658000e+01,7.630000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00

# Prepping data for ML

## Players

In [62]:
players_df.head()

   nflId  heightMetirc  weightMetric  position_token
0  25511        193.04    102.058200              13
1  29550        193.04    148.778176              16
2  29851        187.96    102.058200              13
3  30842        198.12    121.109064              17
4  33084        193.04     98.429464              13

In [63]:
players_df_scaled = players_df.copy()

feature_cols = ['heightMetirc', 'weightMetric']

scaler = StandardScaler()

players_df_scaled[feature_cols] = scaler.fit_transform(players_df_scaled[feature_cols])

players_df_scaled.describe()

              nflId  heightMetirc  weightMetric  position_token
count   1697.000000  1.697000e+03  1.697000e+03     1697.000000
mean   48237.157336  3.127728e-15 -3.056548e-16        9.891573
std     5230.066814  1.000295e+00  1.000295e+00        6.168050
min    25511.000000 -3.119065e+00 -1.963807e+00        0.000000
25%    44830.000000 -8.522328e-01 -8.630930e-01        4.000000
50%    47874.000000  2.811834e-01 -2.068983e-01       12.000000
75%    53476.000000  6.589888e-01  9.573180e-01       16.000000
max    55241.000000  2.548016e+00  2.841232e+00       18.000000

"""position_dummies = pd.get_dummies(players_df_scaled['position'], prefix='position', drop_first=True)

players_df_scaled = players_df_scaled.join(position_dummies)

players_df_scaled.drop(columns=['position'], inplace=True)

players_df_scaled.head()"""

## Tracking

In [18]:
feature_cols = ['x', 'y', 's', 'a']
angle_cols = ['o_sin', 'o_cos', 'dir_sin', 'dir_cos']

# Create copies of your data for scaling
tracking_df_scaled = tracking_df.copy()

# Scale the numerical features (x, y, s, a)
scaler = MinMaxScaler()

tracking_df_scaled[feature_cols] = scaler.fit_transform(tracking_df_scaled[feature_cols])
tracking_df_scaled.head()

,gameId,playId,nflId,frameId,x,y,s,a,dis,event,o_sin,o_cos,dir_sin,dir_cos
0,2022091200,64,35459.0,1,0.429512,0.478128,0.024708,0.006539,0.07,huddle_break_offense,-0.914748,-0.404024,0.929390,0.369098
1,2022091200,64,35459.0,2,0.430047,0.478383,0.024365,0.006363,0.07,NaN,-0.909309,-0.416122,0.946705,0.322100
2,2022091200,64,35459.0,3,0.430583,0.478638,0.023679,0.004065,0.07,NaN,-0.902209,-0.431299,0.939094,0.343660
3,2022091200,64,35459.0,4,0.431042,0.479021,0.022992,0.003888,0.07,NaN,-0.902209,-0.431299,0.927053,0.374930
4,2022091200,64,35459.0,5,0.431502,0.479403,0.022306,0.006009,0.07,NaN,-0.911690,-0.410878,0.889656,0.456632

In [19]:
event_df_scaled = tracking_df_scaled[['gameId', 'playId', 'frameId', 'event']].copy()
tracking_df_scaled.drop(columns=['event'], inplace=True)

# Fill NaN values with a placeholder (e.g., 'unknown')
event_df_scaled['event'] = event_df_scaled['event'].fillna('Nothing')

# One-hot encode and drop the first column to use it as the reference category
event_dummies = pd.get_dummies(event_df_scaled['event'], prefix='event', drop_first=True)

# Join with the original DataFrame
event_df_scaled = event_df_scaled.join(event_dummies)
event_df_scaled = event_df_scaled.drop_duplicates()

event_df_scaled.drop(columns=['event'], inplace=True)

In [20]:
print(event_df_scaled.columns.values)
event_df_scaled.head()

['gameId' 'playId' 'frameId' 'event_ball_snap' 'event_dropped_pass'
 'event_first_contact' 'event_fumble' 'event_fumble_defense_recovered'
 'event_fumble_offense_recovered' 'event_handoff'
 'event_huddle_break_offense' 'event_huddle_start_offense' 'event_lateral'
 'event_line_set' 'event_man_in_motion' 'event_out_of_bounds'
 'event_pass_arrived' 'event_pass_forward' 'event_pass_outcome_caught'
 'event_pass_outcome_incomplete' 'event_pass_outcome_interception'
 'event_pass_outcome_touchdown' 'event_pass_shovel' 'event_pass_tipped'
 'event_play_action' 'event_play_submit' 'event_qb_kneel' 'event_qb_sack'
 'event_qb_slide' 'event_qb_spike' 'event_qb_strip_sack' 'event_run'
 'event_run_pass_option' 'event_shift' 'event_snap_direct' 'event_tackle'
 'event_timeout_away' 'event_touchback' 'event_touchdown']

,gameId,playId,frameId,event_ball_snap,event_dropped_pass,event_first_contact,event_fumble,event_fumble_defense_recovered,event_fumble_offense_recovered,event_handoff,...,event_qb_spike,event_qb_strip_sack,event_run,event_run_pass_option,event_shift,event_snap_direct,event_tackle,event_timeout_away,event_touchback,event_touchdown
0,2022091200,64,1,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,2022091200,64,2,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,2022091200,64,3,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,2022091200,64,4,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,2022091200,64,5,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

## Plays

In [21]:
plays_df.head()

,gameId,playId,quarter,down,possessionTeam,defensiveTeam,gameClock,preSnapHomeScore,preSnapVisitorScore
0,2022102302,2655,3,1,CIN,ATL,01:54,35,17
1,2022091809,3698,4,1,CIN,DAL,02:13,17,17
2,2022103004,3146,4,3,HOU,TEN,02:00,3,17
3,2022110610,348,1,2,KC,TEN,09:28,0,0
4,2022102700,2799,3,2,BAL,TB,02:16,10,10

In [22]:
plays_df_scaled = plays_df.copy()

quarter_dummies = pd.get_dummies(plays_df_scaled['quarter'], prefix='quarter', drop_first=True)
down_dummies = pd.get_dummies(plays_df_scaled['down'], prefix='down', drop_first=True)
#possessionTeam_dummies = pd.get_dummies(plays_df_scaled['possessionTeam'], prefix='pTeam', drop_first=True)
#defensiveTeam_dummies = pd.get_dummies(plays_df_scaled['defensiveTeam'], prefix='dTeam', drop_first=True)


# Join with the original DataFrame
plays_df_scaled = plays_df_scaled.join(quarter_dummies)
plays_df_scaled = plays_df_scaled.join(down_dummies)
#plays_df_scaled = plays_df_scaled.join(possessionTeam_dummies)
#plays_df_scaled = plays_df_scaled.join(defensiveTeam_dummies)

In [23]:
plays_df_scaled.drop(columns=['quarter', 'down', 'possessionTeam', 'defensiveTeam'], inplace=True)
print(plays_df_scaled.columns.values)
plays_df_scaled.head()

['gameId' 'playId' 'gameClock' 'preSnapHomeScore' 'preSnapVisitorScore'
 'quarter_2' 'quarter_3' 'quarter_4' 'quarter_5' 'down_2' 'down_3'
 'down_4']

,gameId,playId,gameClock,preSnapHomeScore,preSnapVisitorScore,quarter_2,quarter_3,quarter_4,quarter_5,down_2,down_3,down_4
0,2022102302,2655,01:54,35,17,False,True,False,False,False,False,False
1,2022091809,3698,02:13,17,17,False,False,True,False,False,False,False
2,2022103004,3146,02:00,3,17,False,False,True,False,False,True,False
3,2022110610,348,09:28,0,0,False,False,False,False,True,False,False
4,2022102700,2799,02:16,10,10,False,True,False,False,True,False,False

In [24]:
def normalize_game_clock(clock_str):
    # Split the string into minutes and seconds
    minutes, seconds = map(int, clock_str.split(':'))
    # Calculate total seconds
    total_seconds = minutes * 60 + seconds
    # Normalize: 0 corresponds to 0 sec, 1 corresponds to 900 sec (15 minutes)
    normalized_value = total_seconds / 900
    return normalized_value


plays_df_scaled['gameClock'] = plays_df_scaled['gameClock'].apply(normalize_game_clock)
plays_df_scaled['preSnapHomeScore'] = plays_df_scaled['preSnapHomeScore']/50
plays_df_scaled['preSnapVisitorScore'] = plays_df_scaled['preSnapVisitorScore']/50

plays_df_scaled.describe()

,gameId,playId,gameClock,preSnapHomeScore,preSnapVisitorScore
count,1.612400e+04,16124.000000,16124.000000,16124.000000,16124.000000
mean,2.022099e+09,2023.830563,0.477823,0.225117,0.200992
std,5.979252e+03,1182.090771,0.302209,0.189370,0.184494
min,2.022091e+09,54.000000,0.001111,0.000000,0.000000
25%,2.022093e+09,996.000000,0.201111,0.060000,0.000000
50%,2.022101e+09,2017.000000,0.466667,0.200000,0.140000
75%,2.022102e+09,3022.000000,0.741111,0.340000,0.320000
max,2.022111e+09,5120.000000,1.000000,0.980000,0.960000

# Merging Datasets for Transformer

In [33]:
tracking_df_scaled[tracking_df_scaled['frameId']==1].sort_values(by=['gameId', 'playId', 'frameId'])

,gameId,playId,nflId,frameId,x,y,s,a,dis,o_sin,o_cos,dir_sin,dir_cos
6686928,2022090800,56,35472.0,1,0.723557,0.490499,0.023336,0.020679,0.07,-0.784776,0.619779,-0.998177,-0.060352
6687120,2022090800,56,38577.0,1,0.665774,0.477745,0.042553,0.007777,0.12,0.753907,0.656981,-0.812084,0.583541
6687312,2022090800,56,41239.0,1,0.673198,0.494580,0.023679,0.007600,0.07,0.996751,0.080547,-0.741039,0.671462
6687504,2022090800,56,42392.0,1,0.718353,0.499043,0.068977,0.002121,0.20,-0.974252,-0.225461,-0.993572,-0.113203
6687696,2022090800,56,42489.0,1,0.735803,0.475450,0.085793,0.009014,0.25,-0.995741,0.092197,-0.100709,-0.994916
...,...,...,...,...,...,...,...,...,...,...,...,...,...
435650,2022091200,4012,53438.0,1,0.544620,0.476087,0.029513,0.015907,0.08,-0.768395,-0.639976,0.909163,0.416439
435713,2022091200,4012,53534.0,1,0.537349,0.407601,0.027797,0.005656,0.08,-0.056344,0.998411,0.105570,-0.994412
435776,2022091200,4012,54474.0,1,0.504975,0.440888,0.055594,0.006539,0.17,0.996807,0.079851,0.919273,0.393621
435839,2022091200,4012,54537.0,1,0.506199,0.391404,0.031915,0.015376,0.09,0.989196,-0.146601,0.891165,-0.453679
435902,2022091200,4012,NaN,1,0.525563,0.421247,0.000000,0.000000,0.00,NaN,NaN,NaN,NaN

In [ ]:
merged_df

In [ ]:
import pandas as pd

# Let's assume tracking_df_scaled is your original DataFrame and value_columns contains the features to pivot.
value_columns = ['x', 'y', 's', 'a', 'dis', 'o_sin', 'o_cos', 'dir_sin', 'dir_cos']

# 1. Filter frames that have exactly 23 rows (if needed):
frame_counts = tracking_df_scaled.groupby(['gameId', 'playId', 'frameId']).size()
complete_frames = frame_counts[frame_counts == 23].index  # frames with exactly 23 rows
filtered_df = tracking_df_scaled.set_index(['gameId', 'playId', 'frameId']).loc[complete_frames].reset_index()

# 2. Assign a consistent order within each frame.
#    You can sort by a column that gives consistent ordering (here, nflId is used as an example).
def assign_order(group):
    group = group.sort_values(by='nflId').reset_index(drop=True)
    group['player_order'] = range(1, len(group) + 1)
    return group

ordered_df = filtered_df.groupby(['gameId', 'playId', 'frameId'], group_keys=False).apply(assign_order)

# 3. Pivot using the assigned player order:
flat_df = ordered_df.set_index(['gameId', 'playId', 'frameId', 'player_order'])[value_columns].unstack('player_order')

# Flatten the MultiIndex columns so they become single-level:
flat_df.columns = [f"{metric}_{int(order)}" for metric, order in flat_df.columns]
flat_df = flat_df.reset_index()

In [31]:
# Now, flat_df should have exactly 23 columns per feature (e.g., x_1, x_2, ..., x_23, y_1, ... etc.)
print(flat_df.columns.values)
flat_df.head()

['gameId' 'playId' 'frameId' 'x_1' 'x_2' 'x_3' 'x_4' 'x_5' 'x_6' 'x_7'
 'x_8' 'x_9' 'x_10' 'x_11' 'x_12' 'x_13' 'x_14' 'x_15' 'x_16' 'x_17'
 'x_18' 'x_19' 'x_20' 'x_21' 'x_22' 'x_23' 'y_1' 'y_2' 'y_3' 'y_4' 'y_5'
 'y_6' 'y_7' 'y_8' 'y_9' 'y_10' 'y_11' 'y_12' 'y_13' 'y_14' 'y_15' 'y_16'
 'y_17' 'y_18' 'y_19' 'y_20' 'y_21' 'y_22' 'y_23' 's_1' 's_2' 's_3' 's_4'
 's_5' 's_6' 's_7' 's_8' 's_9' 's_10' 's_11' 's_12' 's_13' 's_14' 's_15'
 's_16' 's_17' 's_18' 's_19' 's_20' 's_21' 's_22' 's_23' 'a_1' 'a_2' 'a_3'
 'a_4' 'a_5' 'a_6' 'a_7' 'a_8' 'a_9' 'a_10' 'a_11' 'a_12' 'a_13' 'a_14'
 'a_15' 'a_16' 'a_17' 'a_18' 'a_19' 'a_20' 'a_21' 'a_22' 'a_23' 'dis_1'
 'dis_2' 'dis_3' 'dis_4' 'dis_5' 'dis_6' 'dis_7' 'dis_8' 'dis_9' 'dis_10'
 'dis_11' 'dis_12' 'dis_13' 'dis_14' 'dis_15' 'dis_16' 'dis_17' 'dis_18'
 'dis_19' 'dis_20' 'dis_21' 'dis_22' 'dis_23' 'o_sin_1' 'o_sin_2'
 'o_sin_3' 'o_sin_4' 'o_sin_5' 'o_sin_6' 'o_sin_7' 'o_sin_8' 'o_sin_9'
 'o_sin_10' 'o_sin_11' 'o_sin_12' 'o_sin_13' 'o_sin_14' 'o_sin_15'
 'o_sin_16' 'o_sin_17' 'o_sin_18' 'o_sin_19' 'o_sin_20' 'o_sin_21'
 'o_sin_22' 'o_sin_23' 'o_cos_1' 'o_cos_2' 'o_cos_3' 'o_cos_4' 'o_cos_5'
 'o_cos_6' 'o_cos_7' 'o_cos_8' 'o_cos_9' 'o_cos_10' 'o_cos_11' 'o_cos_12'
 'o_cos_13' 'o_cos_14' 'o_cos_15' 'o_cos_16' 'o_cos_17' 'o_cos_18'
 'o_cos_19' 'o_cos_20' 'o_cos_21' 'o_cos_22' 'o_cos_23' 'dir_sin_1'
 'dir_sin_2' 'dir_sin_3' 'dir_sin_4' 'dir_sin_5' 'dir_sin_6' 'dir_sin_7'
 'dir_sin_8' 'dir_sin_9' 'dir_sin_10' 'dir_sin_11' 'dir_sin_12'
 'dir_sin_13' 'dir_sin_14' 'dir_sin_15' 'dir_sin_16' 'dir_sin_17'
 'dir_sin_18' 'dir_sin_19' 'dir_sin_20' 'dir_sin_21' 'dir_sin_22'
 'dir_sin_23' 'dir_cos_1' 'dir_cos_2' 'dir_cos_3' 'dir_cos_4' 'dir_cos_5'
 'dir_cos_6' 'dir_cos_7' 'dir_cos_8' 'dir_cos_9' 'dir_cos_10' 'dir_cos_11'
 'dir_cos_12' 'dir_cos_13' 'dir_cos_14' 'dir_cos_15' 'dir_cos_16'
 'dir_cos_17' 'dir_cos_18' 'dir_cos_19' 'dir_cos_20' 'dir_cos_21'
 'dir_cos_22' 'dir_cos_23']

,gameId,playId,frameId,x_1,x_2,x_3,x_4,x_5,x_6,x_7,...,dir_cos_14,dir_cos_15,dir_cos_16,dir_cos_17,dir_cos_18,dir_cos_19,dir_cos_20,dir_cos_21,dir_cos_22,dir_cos_23
0,2022090800,56,1,0.723557,0.665774,0.673198,0.718353,0.735803,0.666692,0.663248,...,-0.984656,0.766269,0.599163,-0.463141,0.185838,-0.980751,0.852184,0.399549,0.741508,NaN
1,2022090800,56,2,0.722869,0.665008,0.672815,0.716746,0.735650,0.666080,0.662789,...,-0.988626,0.765820,0.594121,-0.431141,0.202275,-0.985139,0.852731,0.405939,0.669131,NaN
2,2022090800,56,3,0.722027,0.664243,0.672432,0.715139,0.735497,0.665468,0.662330,...,-0.993252,0.753678,0.649050,-0.416915,0.213542,-0.989826,0.856447,0.415963,0.568562,NaN
3,2022090800,56,4,0.721032,0.663401,0.672203,0.713608,0.735267,0.664855,0.661794,...,-0.994301,0.747218,0.777805,-0.415328,0.218484,-0.993532,0.873347,0.423093,0.454146,NaN
4,2022090800,56,5,0.719884,0.662483,0.671973,0.712154,0.734961,0.664243,0.661258,...,-0.997106,0.734086,0.926397,-0.437430,0.219846,-0.997600,0.898488,0.431299,0.362926,NaN

In [26]:
main_df = pd.merge(how='left', left=tracking_df_scaled, right= players_df_scaled, on='nflId')
print(main_df.columns.values)
main_df.sort_values(by=['gameId','playId','frameId']).head()

['gameId' 'playId' 'nflId' 'frameId' 'x' 'y' 's' 'a' 'dis' 'o_sin' 'o_cos'
 'dir_sin' 'dir_cos' 'heightMetirc' 'weightMetric' 'position_CB'
 'position_DB' 'position_DE' 'position_DT' 'position_FB' 'position_FS'
 'position_G' 'position_ILB' 'position_LB' 'position_MLB' 'position_NT'
 'position_OLB' 'position_QB' 'position_RB' 'position_SS' 'position_T'
 'position_TE' 'position_WR']

,gameId,playId,nflId,frameId,x,y,s,a,dis,o_sin,...,position_LB,position_MLB,position_NT,position_OLB,position_QB,position_RB,position_SS,position_T,position_TE,position_WR
6686928,2022090800,56,35472.0,1,0.723557,0.490499,0.023336,0.020679,0.07,-0.784776,...,False,False,False,False,False,False,False,False,False,False
6687120,2022090800,56,38577.0,1,0.665774,0.477745,0.042553,0.007777,0.12,0.753907,...,False,False,False,False,False,False,False,False,False,False
6687312,2022090800,56,41239.0,1,0.673198,0.494580,0.023679,0.007600,0.07,0.996751,...,False,False,False,False,False,False,False,False,False,False
6687504,2022090800,56,42392.0,1,0.718353,0.499043,0.068977,0.002121,0.20,-0.974252,...,False,False,False,False,False,False,False,False,False,False
6687696,2022090800,56,42489.0,1,0.735803,0.475450,0.085793,0.009014,0.25,-0.995741,...,False,False,False,False,False,False,False,False,False,True

In [27]:
main_df = pd.merge(how='left', left=tracking_df_scaled, right=players_df_scaled, on='nflId')
print(main_df.columns.values)
main_df.head()

['gameId' 'playId' 'nflId' 'frameId' 'x' 'y' 's' 'a' 'dis' 'o_sin' 'o_cos'
 'dir_sin' 'dir_cos' 'heightMetirc' 'weightMetric' 'position_CB'
 'position_DB' 'position_DE' 'position_DT' 'position_FB' 'position_FS'
 'position_G' 'position_ILB' 'position_LB' 'position_MLB' 'position_NT'
 'position_OLB' 'position_QB' 'position_RB' 'position_SS' 'position_T'
 'position_TE' 'position_WR']

,gameId,playId,nflId,frameId,x,y,s,a,dis,o_sin,...,position_LB,position_MLB,position_NT,position_OLB,position_QB,position_RB,position_SS,position_T,position_TE,position_WR
0,2022091200,64,35459.0,1,0.429512,0.478128,0.024708,0.006539,0.07,-0.914748,...,False,False,False,False,False,False,True,False,False,False
1,2022091200,64,35459.0,2,0.430047,0.478383,0.024365,0.006363,0.07,-0.909309,...,False,False,False,False,False,False,True,False,False,False
2,2022091200,64,35459.0,3,0.430583,0.478638,0.023679,0.004065,0.07,-0.902209,...,False,False,False,False,False,False,True,False,False,False
3,2022091200,64,35459.0,4,0.431042,0.479021,0.022992,0.003888,0.07,-0.902209,...,False,False,False,False,False,False,True,False,False,False
4,2022091200,64,35459.0,5,0.431502,0.479403,0.022306,0.006009,0.07,-0.911690,...,False,False,False,False,False,False,True,False,False,False

In [28]:
main_df[~main_df['nflId'].isna()]

,gameId,playId,nflId,frameId,x,y,s,a,dis,o_sin,...,position_LB,position_MLB,position_NT,position_OLB,position_QB,position_RB,position_SS,position_T,position_TE,position_WR
0,2022091200,64,35459.0,1,0.429512,0.478128,0.024708,0.006539,0.07,-0.914748,...,False,False,False,False,False,False,True,False,False,False
1,2022091200,64,35459.0,2,0.430047,0.478383,0.024365,0.006363,0.07,-0.909309,...,False,False,False,False,False,False,True,False,False,False
2,2022091200,64,35459.0,3,0.430583,0.478638,0.023679,0.004065,0.07,-0.902209,...,False,False,False,False,False,False,True,False,False,False
3,2022091200,64,35459.0,4,0.431042,0.479021,0.022992,0.003888,0.07,-0.902209,...,False,False,False,False,False,False,True,False,False,False
4,2022091200,64,35459.0,5,0.431502,0.479403,0.022306,0.006009,0.07,-0.911690,...,False,False,False,False,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7104520,2022090800,3696,54650.0,171,0.064059,0.142329,0.083391,0.033934,0.25,-0.950732,...,False,False,False,False,False,False,False,False,False,False
7104521,2022090800,3696,54650.0,172,0.062299,0.141819,0.078243,0.028986,0.24,-0.999693,...,False,False,False,False,False,False,False,False,False,False
7104522,2022090800,3696,54650.0,173,0.060615,0.141436,0.074468,0.023860,0.22,-0.970464,...,False,False,False,False,False,False,False,False,False,False
7104523,2022090800,3696,54650.0,174,0.059008,0.141308,0.071036,0.019618,0.21,-0.902285,...,False,False,False,False,False,False,False,False,False,False
7104524,2022090800,3696,54650.0,175,0.057477,0.141053,0.067948,0.018204,0.20,-0.884255,...,False,False,False,False,False,False,False,False,False,False

In [29]:
main_df = main_df.sort_values(by=['gameId', 'playId', 'frameId'])
main_df.head()

,gameId,playId,nflId,frameId,x,y,s,a,dis,o_sin,...,position_LB,position_MLB,position_NT,position_OLB,position_QB,position_RB,position_SS,position_T,position_TE,position_WR
6686928,2022090800,56,35472.0,1,0.723557,0.490499,0.023336,0.020679,0.07,-0.784776,...,False,False,False,False,False,False,False,False,False,False
6687120,2022090800,56,38577.0,1,0.665774,0.477745,0.042553,0.007777,0.12,0.753907,...,False,False,False,False,False,False,False,False,False,False
6687312,2022090800,56,41239.0,1,0.673198,0.494580,0.023679,0.007600,0.07,0.996751,...,False,False,False,False,False,False,False,False,False,False
6687504,2022090800,56,42392.0,1,0.718353,0.499043,0.068977,0.002121,0.20,-0.974252,...,False,False,False,False,False,False,False,False,False,False
6687696,2022090800,56,42489.0,1,0.735803,0.475450,0.085793,0.009014,0.25,-0.995741,...,False,False,False,False,False,False,False,False,False,True